.potrait {
	width: 20px;
	height: 20px;
}

.potrait_box {
	flex-direction: row;
	margin-left: auto;
}

.button_container, .potrait_boxes {
	flex-direction: row;
	flex-wrap: wrap;
}

.option-label {
	white-space: normal;
}

#speach {
	font-size: 20px;
	-unity-font-style: bold;
}

#root-panel {
	flex-grow: 1;
	position: absolute;
	width: 400px;
	height: 300px;
	left: 5%;
	bottom: 5%;
	background-color: lightblue;
	white-space: normal;
	flex-direction: column;
}
